<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.com.cg.ocr" >

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
    <activity
        android:name=".idcardocr.view.ScanActivity"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:screenOrientation="portrait"
        android:theme="@style/ScanActivityStyle"/>
        <activity
            android:name=".testocr.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN"/>-->

<!--                <category android:name="android.intent.category.LAUNCHER"/>-->
<!--            </intent-filter>-->
        </activity>

        <activity
            android:name=".ocrbyface.view.FaceCaptureActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity
            android:name=".testocr.ResultActivity"
            android:screenOrientation="portrait"/>


    </application>

</manifest>
